@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&family=Oswald:wght@400;700&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

footer, header, aside {display: block;}

html {
    scroll-behavior: smooth;
}   

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{ 
    font-size: inherit;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    font-size: 16px;
    font-weight: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}
h1 {
    font-weight: 300;
    font-size: 42px;
    line-height: 20px;
}
h2 {
    font-weight: 300;
    font-size: 36px;
}
h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
}
h4 {
    font-size: 17px;
    font-weight: 400;
}
p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
.main-bg {
    margin: 0 auto;
    max-width: 1600px;
    background: url(../img/bg1.png) top right no-repeat;
}
.shapes {
    margin: 0 auto;
    max-width: 1600px;
    background: url(../img/shapes.png) top no-repeat;
}
.wrap {
    max-width: 1300px;
    margin: 0 auto;
}
header {
    display: flex;
    margin: 30px 0 71px;
}
.main__logo img{
    display: inline-block;
    height: 120px;
}
.logo {
    display: none;
}
.search__menu {
    display: flex;
    flex-direction: column;
    width: 915px;
    margin-left: 80px;
}
.search__menu--input {
    display: flex;
}
input {
    text-align: left;
    padding: 10px 0 15px;
    color: #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background-position: right 11px center;
    background-repeat: no-repeat;
    width: 450px;
    background-image: url("../img/icon/search.png");
    margin-left: auto;
}
.input::-webkit-input-placeholder       {
    opacity: 1; transition: opacity 0.3s ease;
}
.input:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
.search__menu--social ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.search__menu--social {
    margin-left: 85px;
}
.search__menu--social a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e9e9eb;
    width: 30px;
    height: 30px;
}
.search__menu--social i {
    color: #afafb5;
    font-size: 15px;
}

.main__menu--list {
    display: block;
}
/* nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav a:hover {
    border-bottom: 5px solid #ffd806;
    padding-bottom: 20px;
}
.nav--el {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 50%;
    background-color: #00d2d2;
    width: 30px;
    height: 30px;
}
.nav--el:hover {
    border: none;
    padding: 0;
}
.nav--el i {
    color: #fff;
}
.main__menu--list ul ul ul{
    display: none;
    position: absolute;
    top: 144px;
    background-color: #f0f3f9;
}
.children li {
    padding: 15px 25px;
    border-top: 1px solid #e2ebf8;
    border-bottom: 1px solid #f1f4f9;
}
.main__menu--list ul ul ul a:hover{
    color: #a1adc5;
    border-bottom: none;
}
.main__menu--list ul li:hover ul{
    display: block;
}
.main__menu--list ul li:hover li{
    display: block;
} */
.about {
    max-width: 940px;
    margin-bottom: 60px;
}
.about h1 {
    padding-bottom: 39px;
}
.about h1::before {
    content: "";
    display: block;
    background-color: #c7dc19;
    width: 60px;
    height: 5px;
    position: relative;
    top: 65px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.navigation--box {
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
    width: 200px;
    height: 110px;
    padding: 25px 85px 0 15px;
}
.navigation--box h4 {
    padding-bottom: 20px;
}
.navigation--box p {
    font-size: 13px;
    line-height: 16px;
}
.navigation--box-1 {
    background: url(../img/menu-1.png) 130px 0 no-repeat;
    background-color: #f1f1f1;
    padding: 25px 45px 0 15px;
}
.navigation--box-2 {
    background: url(../img/menu-2.png) 115px 0 no-repeat;
    background-color: #f8f2ee;
}
.navigation--box-3 {
    background: url(../img/menu-3.png) 110px 0 no-repeat;
    background-color: #f0f3f9;
}
.navigation--box-4 {
    background: url(../img/menu-4.png) right no-repeat;
    background-color: #f3f3f3;
}
.navigation--box-5 {
    background: url(../img/menu-6.png) right no-repeat;
    background-color: #f1f6e8;
}
.navigation--box-6 {
    background: url(../img/menu-5.png) right no-repeat;
    background-color: #f9f5fc;
}
.navigation--box-5,
.navigation--box-6 {
    padding: 25px 75px 0 15px;
}
.main__blog {
    margin-bottom: 70px;
}
.main__blog h2::before {
    content: "";
    display: block;
    background-color: #c7dc19;
    width: 60px;
    height: 5px;
    position: relative;
    top: 65px;
}
.blog {
    display: flex;
    margin: 0 auto;
}
.blog__box--content {
    display: flex;
    flex: 7;
    background: url(../img/bg2.png) 15% 55% no-repeat;
    height: 500px;
    border-radius: 10px;
}
.blog__box--info {
    display: block;
    background-color: #fff;
    border-radius: 15px;
    width: 270px;
    height: 250px;
    padding: 20px 30px 0 30px;
    margin: 30px;
}
.blog__box--info p {
    color: #359fe3;
    margin-bottom: 15px;

}
.blog__box--info h3 {
    margin-bottom: 15px;
}
.blog__box--info button {
    background-color: #f0f3f9;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}
.blog__box--info i {
    color: #b1d026;
}
.font {
    font-family: 'Oswald', sans-serif;
}
.blog__box--ref {
    display: flex;
    flex: 7;
}
.blog__box--list {
    display: flex;
    flex: 4;
    padding: 0 55px 0 45px;
    background-color: transparent;
}
.blog__box--list li {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    vertical-align: middle;
    background: url("../img/icon/clean.png") 0 5px no-repeat;
    padding: 0px 55px 35px;
}
.blog__box--video {
    display: flex;
    flex-flow: row-reverse;
    flex: 3;
    align-items: flex-end;
    height: 450px;
    border-radius: 15px;
    background: url(../img/bg3.png) top no-repeat;
    margin-top: 85px;
}
.blog__box--video a {
    display: block;
    color: red;
    font-size: 60px;    
    position: relative;
    top: -225px;
    left: -190px;
}
.blog__box--video p {
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 30px;
}

@media (max-width: 1920px) {
    
}
@media (max-width: 1440px) {
    .main-bg {
        background-position: 890px 0;
    }
}
@media (max-width: 1366px) {
    .main-bg {
        background-position: 850px 0;
    }
}
@media (max-width: 992px) {
    .main-bg {
        background: none;
    }
    .shapes {
        max-width: 992px;
    }
    .wrap {
        max-width: 900px;
    }
    .search__menu {
        margin-left: 28px;
        width: 900px;
    }
    input {
        width: 350px;
    }
    .navigation {
        align-content: space-between;
        flex-wrap: wrap;
        height: 250px;
        width: 700px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .blog {
        flex-direction: column;
        align-items: center;
    }
    .blog__box--content {
        align-items: center;
        background-position: top;
        height: 500px;
        width: 750px;
        border-radius: 10px;
    }
    .blog__box--info {
        margin: 15px;
    }
    .blog__box--list li {
        font-size: 14px;
        line-height: 20px;
        
    }
    .blog__box--video a {
        top: -200px;
        left: -110px;
    }
    .blog__box--ref {
        padding-top: 40px;
    }
    .blog__box--list, .blog__box--video {
        flex: 1;
    }
    .blog__box--video {
        margin: 0 auto;
        background: url(../img/bg3.png) no-repeat;
    }
    .blog__box--video p {
        padding: 0 20px 100px;
    }
    .blog__box--video a {
        top: -225px;
        left: -313px;
    }
}

@media (max-width: 768px) {
    .wrap {
        max-width: 700px;
    }
    .shapes {
        max-width: 768px;
    }
    .search__menu {
        margin-left: 28px;
        width: 700px;
    }
    input {
        width: 250px;
    }
    .search__menu--social {
        margin-left: 45px;
    }
    .main__menu {
        font-size: 14px;
    }
    .blog {
        flex-wrap: wrap;
    }
    .blog__box--content {
        width: 700px;
    }
    .blog__box--video a {
        left: -220px;
    }
    .blog__box--list {
        padding-left: 0;
    }
   
}
@media (max-width: 578px) {
    .wrap {
        max-width: 530px;
    }
    .shapes {
        background: none;
    }
    .search__menu {
        margin-left: 20px;
        width: 578px;
    }
    input {
        width: 200px;
    }
    .search__menu--social {
        margin-left: 25px;
    }
    .about h1 {
        padding-bottom: 30px;
    }
    h1 {
        font-weight: 300;
        font-size: 30px;
        line-height: 20px;
    }
    .search__menu--social ul {
        width: 190px;
    }
    .main__menu {
        font-size: 10px;
    }
    .navigation {
        height: 350px;
        width: 500px;
    }
    .main__blog h2 {
        font-size: 25px;
    }
    .blog {
        width: 500px;
    }
    .blog__box--content {
        width: 570px;
    }
    .blog__box--list li {
        padding:0 40px 15px;
    }
    .blog__box--video p {
        padding: 0;
    }
    .blog__box--video a {
        left: -140px;
    }
}
@media (max-width: 480px) {
    .wrap {
        max-width: 450px;
    }
    header {
        display: flex;
    }
    .main__logo {
        display: none;
    }
    .logo {
        display: block;
        margin-right: 10px;
    }
    .logo img{
        width: 30px;
        height: auto;
    }
    .search__menu {
        margin-left: 20px;
        width: 450px;
        padding-top: 10px;
    }
    .blog__box--content {
        width: 450px;
    }
}
@media (max-width: 375px) {
    .wrap {
        max-width: 360px;
    }
    h1 {
        font-size: 26px;
    }
    .main__blog h2 {
        font-size: 22px;
    }
    .navigation {
        width: 450px;
        align-content: space-between;
        justify-content: space-around;
    }
}